body {
  font-family: 'calibri', calibri, sans-serif;
  font-weight: 300;
  background-image: url(Spain18.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  border-color: yellow;
  border-style: dashed;
  border-width: 15px
}
#wrapper {
  width: 960px;
  margin: 20px auto 20px auto;
}
h1 {
	color: white;
	font-weight: 600;
	font-size: 64px;
	text-shadow: 4px 4px 4px black;
}
h4 {
	color: black;
	font-size: 40px;
	text-shadow: 4px 4px 4px white;
}
h2 {
	color: white;
	font-size: 40px;
	text-shadow: 4px 4px 4px black;
}
